<div class="card">
  <div class="banner">
    <img src="../assets/imgs/icon.jpg" alt="">
  </div>
  <div class="menu">
    <div class="opener"><span></span><span></span><span></span></div>
  </div>
  <h2 class="name">João Pedro</h2>
  <div class="title">Desenvolvedor</div>
  <div class="actions">
    <div class="follow-info">
      <h2><a href="#email"><span class="space"><svg width="90" height="27" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
          <path d="m22 6-10 7L2 6"></path>
        </svg></span><small>Email</small></a></h2>

        <div id="email" class="overlay">
            <div class="popup">
                <h2 id="title-popup">Email</h2>
                <a class="close" href="#">&times;</a>
                <div class="content">
                    silva.limaj11@gmail.com
                </div>
            </div>
        </div>

        <h2><a href="#instagram"><span class="space"><svg width="90" height="27" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
          <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
          <path d="M17.5 6.5h.01"></path>
        </svg></span><small>Instagram</small></a></h2>

          <div id="instagram" class="overlay">
              <div class="popup">
                  <h2 id="title-popup">Instagram</h2>
                  <a class="close" href="#">&times;</a>
                  <div class="content">
                  <a href="https://instagram.com/_jjoaopwdro">Clique Aqui</a>
                  </div>
              </div>
          </div>

      <h2><a href="#github"><span class="space"><svg width="90" height="27" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="M16.25 22.5v-3.865a3.361 3.361 0 0 0-.94-2.607c3.14-.35 6.44-1.538 6.44-6.99a5.43 5.43 0 0 0-1.5-3.746 5.058 5.058 0 0 0-.09-3.765s-1.18-.35-3.91 1.478a13.397 13.397 0 0 0-7 0C6.52 1.177 5.34 1.527 5.34 1.527a5.058 5.058 0 0 0-.09 3.765 5.43 5.43 0 0 0-1.5 3.775c0 5.413 3.3 6.602 6.44 6.991a3.366 3.366 0 0 0-.94 2.577V22.5"></path>
          <path d="M9.25 19.503c-5 1.498-5-2.496-7-2.996"></path>
        </svg></span><small>Github</small></a></h2>

        <div id="github" class="overlay">
            <div class="popup">
                <h2 id="title-popup">Github</h2>
                <a class="close" href="#">&times;</a>
                <div class="content">
               <a href="http://github.com/JPedroS">Clique Aqui</a>
                </div>
            </div>
        </div>

        <h2><a href="#linkedin"><span class="space"><svg width="90" height="27" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path>
            <path d="M2 9h4v12H2z"></path>
            <path d="M4 2a2 2 0 1 0 0 4 2 2 0 1 0 0-4z"></path>
          </svg></span><small>Linkedin</small></a></h2>

          <div id="linkedin" class="overlay">
              <div class="popup">
                  <h2 id="title-popup">Linkedin</h2>
                  <a class="close" href="#">&times;</a>
                  <div class="content">
                     <a href="https://www.linkedin.com/in/jo%C3%A3o-pedro-silva-lima-b121a7262">Clique Aqui</a>
                  </div>
              </div>
          </div>

</div>